body{
	background-color: rgb(204, 204, 204);
}

h1{
	text-align:center;
}

.playlist{
	background-color: rgb(255, 255, 255);
	border-style:solid;
	border-radius:10px;
	margin:15px;
}

ul{
	padding-left:11px;
	padding-top:5px;
	padding-bottom:10px;
}


.playlist>ul>li{
	list-style-type: none
}

.playlist>ul>li>a{
	text-decoration-line: none;
	color:black;
}


h2{
	text-align:center;
}

.videop{
	width:100vw;
	margin:50px;
	margin-top:0px;
	background-color: rgb(255, 255, 255);
	border-style:solid;
	border-radius:10px;
}

.player_one{
	width:50vw;
	heigth:50vh;
	padding:10px;
}

.heading2{
	margin-top:0px;
}

h3{
	margin-left:15px;
}
.player_two{
	box-sizing:border-box;
	margin-left:15px;
	width:97%;
}